Hello <%= @user.login %>,<br/><br/>

<p>Your new password for the Orchive site is:</p>
<pre>
<%= @new_password %>
</pre>

Thanks for joining!<br/><br/>
<br/><br/>
yours,<br/><br/>
The Orchive team.<br/><br/>

