<h1>Run jobs</h1>

<ul>
  <li><%= link_to "Make a Prediction on an Annotation", :controller => 'admin', :action => 'make_a_prediction_on_one_annotation' %></li>
  <li><%= link_to "Make a Prediction on a set of Annotations", :controller => 'admin', :action => 'make_a_prediction_on_a_set_of_annotations' %>
</ul>




<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

