<div class="callzoom">
  <div class="callzoom_image">
	<img src="<%= @call.image %> " width="200px">
  </div>
  <div class="callzoom_name">
	name : <b><%= @call.name %></b>
  </div>
  <div class="callzoom_matriline">
	matriline : <b><%= @call.matriline %></b>
  </div>
  <div class="callzoom_notes">
	notes : <b><%= @call.notes %></b>
  </div>
</div>
