<center>
  <h3>Timeline</h3>
  <div style="width: 700px; height: 20px; background:#bcf;" id="special">
	
	<table width="100%">
	  <tr>
		<td>2000</td>
		<td>2001</td>
		<td>2002</td>
		<td>2003</td>
		<td>2004</td>
		<td>2005</td>
		<td>2006</td>
		<td>2007</td>
		<td>2008</td>
		<td>2009</td>
	  </tr>
	</table>
  </div>
  
  <form action="http://somesite.com/prog/adduser" method="post">
	<p>
	  <table width="600px">
		<tr>
		  <td>
			<label for="year">year</label>
			<input type="text" size="6" id="year" value="2000"><br>
		  </td>
		  <td>
			<label for="tape">tape</label>
			<input type="text" size="7" id="tape" value="001A"><br>
		  </td>
		  <td>
			
			<input type="submit" value="find">
		  </td>
		</tr>
	  </table>
	</p>
  </form>
  <br>

  <div class="orcaannotator">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
			width="800"
			height="243"
			id="haxe"
			align="middle">
	  <param name="movie" value="orcaannotator.swf"/>
	  <param name="allowScriptAccess" value="always" />
	  <param name="quality" value="high" />
	  <param name="scale" value="noscale" />
	  <param name="salign" value="lt" />
	  <param name="bgcolor" value="#ffffff"/>
	  <embed src="orcaannotator.swf"
			 FlashVars="recording_id=1&annotation_id=1&visualization_path=1"
			 bgcolor="#ffffff"
			 width="800"
			 height="243"
			 name="orcaannotator"
			 quality="high"
			 align="middle"
			 allowScriptAccess="always"
			 type="application/x-shockwave-flash"
			 pluginspage="http://www.macromedia.com/go/getflashplayer">
	</object>
  </div>
  <br />
  
</center>

<hr>

