<h1>Forgot Password</h1>

<!-- Display a notice if one exists -->
<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>

Please enter your email address and a new password will be generated
and sent to you.

<% form_for(:forgot_password, :url => { :action => 'forgot_password' }) do |f| -%>

  <div class="formRow">
	<div class="formColumn">
	  <label for="forgot_password_email">Email address:</label>
	  <%= f.text_field :email  %></p>
	</div>
	<br class="clear" />
  </div>

  <div class="formRow">
	<%= submit_tag("Request new password", { :class => "button", :title => "Submit" }) %>
  </div>

<% end %>
