<div id="leftnav">
  <ul>
	<li class="active"><%= link_to "Home", :action => 'index' %></li>
	<li><%= link_to "About", :action => 'about' %></li>
	<li><%= link_to "Orchive", :action => 'orchive' %></li>
	<li><%= link_to "People", :action => 'people' %></li>
	<li><%= link_to "Press", :action => 'press' %></li>
  </ul>
</div>
